.ProductDetails-Container {
    display: flex;
    margin-left: 200px;;
}

.ProductDetails-Content {
    flex: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-dropdown {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.add-product-button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-product-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #f2f2f2;
}

.product-image {
    width: 50px; /* Adjust size as needed */
    height: auto;
}