.dashboard-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 250px    ;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  margin-bottom: 16px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 2rem;
  font-weight: bold;
}

.blue { color: #3498db; }
.red { color: #e74c3c; }
.green { color: #2ecc71; }
.yellow { color: #f1c40f; }

.stat-label {
  font-size: 0.875rem;
  color: #888;
}

.stat-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  font-size: 0.875rem;
  color: #888;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.inventory-summary {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inventory-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
}

.label {
  font-size: 0.875rem;
  color: #888;
}

.product-detail {
  margin-bottom: 16px;
}

.value {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 8px;
}

.red-text { color: #e74c3c; }

.progress-circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-circle {
  position: relative;
  width: 96px;
  height: 96px;
  border: 8px solid #2ecc71;
  border-radius: 50%;
}

.progress-inner-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 8px solid #eee;
  border-radius: 50%;
  clip-path: inset(0 0 78% 0);
}

.progress-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.dropdown {
  padding: 4px;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-container {
  width: 64px;
  height: 64px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 8px;
}

.icon-lg {
  width: 32px;
  height: 32px;
  color: #bbb;
}

.product-name {
  font-size:small;
  margin-bottom: 4px;
}

.product-weight {
  font-size: 1.25rem;
  font-weight: bold;
}

.unit {
  font-size: 0.75rem;
  font-weight: normal;
}

.line-chart {
  width: 100%; /* Make it take full width */
  height: 100%; /* Make it take full height */
}